/*fonts*/

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  font-display: block;

  src:
  url("../fonts/open_sans/opensanslight.woff") format("woff"),
  url("../fonts/open_sans/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: block;

  src:
  url("../fonts/open_sans/opensans.woff") format("woff"),
  url("../fonts/open_sans/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  font-display: block;

  src:
  url("../fonts/gilroy/gilroylight.woff") format("woff"),
  url("../fonts/gilroy/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: block;

  src:
  url("../fonts/gilroy/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2");
}

/*common styles*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin-top: 49px;

  font-weight: lighter;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
  color: #464646;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.headline {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.btn {
  display: inline-block;
  min-width: 220px;
  padding: 8px 0;

  position: relative;
  z-index: 100;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
}

.btn::before {
  content: "";

  display: block;
  width: 100%;
  height: 10px;

  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  z-index: -1;

  background-color: #F0C52E;

  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.btn:hover::before,
.btn:focus::before {
  height: 100%;

  top: 0;
}

.btn:active {
  color: rgba(0, 0, 0, .3);
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* header */

.main-header {
  position: relative;

  min-height: 299px;
  padding: 43px 60px;

  background-color: rgba(240, 197, 46, .5);
}

.main-header .device-logo {
  position: absolute;
  top: -18px;
}

.main-header .header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.search-wrapper {
  position: relative;
}

.search-wrapper::before {
  content: "";

  position: absolute;

  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}

.search-wrapper .search {
  margin-left: 37px;

  background-color: transparent;
  border: none;
}

.main-header .header-nav {
  display: flex;
  width: 50%;
  padding-left: 12px;
}

.header-nav .nav-link {
  padding-left: 35px;
}

.main-header .header-nav-item:nth-child(2) {
  margin-left: auto;
  margin-right: 30px;
}

.main-header .nav-link{
  color: #000000;
  text-decoration: none;
}

.main-header .nav-link:hover,
.main-header .nav-link:focus {
  color: rgba(0, 0, 0, .6);
}

.main-header .nav-link:active {
  color: rgba(0, 0, 0, .3);
}

.main-header .main-nav {
  display: flex;
}

.main-nav-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.main-header .main-nav-item:first-child {
  width: 50%;
}

.main-header .main-nav-item:nth-child(2) {
  margin-right: 36px;
  margin-left: 20px;
}

.main-header .main-nav-item:last-child {
  margin-left: auto;
}

.main-nav .products-nav-wrapper {
  display: flex;
  width: 1040px;
}

.main-nav .products-nav-list {
  margin-right: 50px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: none;
}

/* slider */

.catch-slider {
  position: relative;
  top: -129px;

  margin-bottom: -40px;
}

.slider-item {
  display: flex;
}

.slider-wrapper {
  width: 50%;
}

.slider-wrapper:first-child {
  display: flex;
  align-items: center;
  min-height: 521px;
  padding-left: 49px;
}

.slider-wrapper:last-child {
  padding-right: 80px;
  padding-top: 50px;
}

.slider-wrapper .slider-headline {
  width: 390px;
  margin-bottom: 17px;
}

.slider-wrapper .slider-text {
  margin-bottom: 46px;
}

.slder-nav-wrapper {
  display: flex;
  margin-bottom: 43px;
}

.slder-nav-wrapper .slider-nav-bullet:nth-child(2)  {
  margin-left: auto;
}

.slider-table tbody {
  display: flex;
  flex-direction: column;
}

.table-row td {
  width: 145px;
}

.slider-table .table-row-one {
  order: 1;
}

.slider-table .table-bot {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: lighter;
  color: #000000;
}

.slider-table .table-top {
  font-size: 13px;
  line-height: 20px;
}

/* products */

.products {
  margin-bottom: 63px;
}

.products .products-list {
  display: flex;
  justify-content: space-between;
}

.products .product-item {
  width: 160px;
}

.products-list .product-link {
  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.products-list .product-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, .5);
}

.product-link:hover .product-image-wrapper,
.product-link:focus .product-image-wrapper {
  background-color: #F0C52E;
}

.product-image-wrapper .monopod-logo {
  align-self: flex-end;
}

.product-link:active .product-img,
.product-link:active p {
  opacity: 0.3;
}

/* extras */

.extras {
  position: relative;

  margin-bottom: 95px;
}

.extras::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 288px;

  background-color: #ccc;
}

.extras .container{
  display: flex;
  min-height: 388px;
}

.extras-list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}

.extras-list::after {
  content: "";

  position: absolute;
  right: -7px;
  top: 0;

  display: block;
  width: 7px;
  height: 319px;

  background-color: #000000;
}

.extras-item {
  width: 279px;
  margin: 13px 0;
}

.extras-item .btn {
  min-width: 160px;

  text-align: center;
}

.extras-item.active .btn {
  width: 100%;
  padding-left: 30px;

  text-align: left;
  color: #F7E184;
}

.extras-item .btn:active::before {
  background-color: #000000;
}

.extras-item .btn:active {
  width: 100%;
  padding-left: 30px;

  text-align: left;
  color: #F7E184;
}

.extras-item.active .btn::before {
  height: 100%;

  top: 0;

  background-color: #000000;
}

.extras-descr-list {
  padding-left: 123px;
  padding-right: 320px;
  padding-top: 22px;
}

.extras-descr-list .headline {
  margin-bottom: 27px;
}

/* partners */

.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
}

.partners .partners-link {
  width: 260px;
  height: 100px;
}

.partners .partners-image {
  filter: grayscale(100%);
  opacity: .3;
}

.partners .partners-image:hover {
  filter: none;
  opacity: 1;
}

/* information */

.information {
  display: flex;
  margin-bottom: 72px;
}

.information .info-wrapper {
  width: 50%;
  padding: 9px 30px;
}

.info-wrapper p {
  margin-bottom: 32px;
}

.info-wrapper .map-link {
  display: block;
  margin-top: 39px;
  margin-bottom: 61px;
}

.delivery-list {
  margin-top: 63px;
  margin-bottom: 56px;
  margin-left: 37px;
}

.delivery-list .delivery-item {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}

.delivery-item::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -35px;

  display: block;
  width: 8px;
  height: 8px;

  border: 2px solid #D8D8D8;
  border-radius: 50%;
}

/* footer */

.main-footer {
  padding: 60px 0;

  background-color: #464646;
}

.main-footer .footer-wrapper-top {
  display: flex;
  margin-bottom: 22px;
}

.footer-wrapper-top  .footer-nav {
  display: flex;
  margin-left: auto;
}

.footer-wrapper-top  .footer-nav-item {
  margin-left: 60px;
}

.main-footer .footer-wrapper-mid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer-wrapper-mid .main-nav {
  display: flex;
  align-items: center;
}

.footer-wrapper-mid .main-nav-item {
  margin: 0 20px;
}

.footer-wrapper-mid .footer-text-phone {
  order: 1;
}

.main-footer .footer-wrapper-bot {
  display: flex;
  justify-content: center;
}

.footer-wrapper-bot .social-list {
  display: flex;
}

.main-footer .footer-nav-link {
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
}

.main-footer .footer-nav-link:hover,
.main-footer .footer-nav-link:focus {
  color: #ffffff;
}

.main-footer .footer-nav-link:active {
  color: rgba(255, 255, 255, .3);
}

.main-footer .footer-text {
  color: #ffffff;
}

.main-footer .phone-link {
  color: #ffffff;
  text-decoration: none;
}

.main-footer .main-nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.main-footer .main-nav-link:hover,
.main-footer .main-nav-link:focus {
  color: rgba(255, 255, 255, .6);
}

.main-footer .main-nav-link:active {
  color: rgba(255, 255, 255, .3);
}

.social-list .social-item {
  margin: 0 11px;

  line-height: 12px;
  opacity: .3;
}

.social-list .social-item:hover,
.social-list .social-item:focus {
  opacity: .6;
}

.social-list .social-item:active {
  opacity: .1;
}

.social-list .social-link {
  display: block;
}

/* map */

.map-img {
  width: 960px;
  height: 559px;
}

/* form-popup */

.form-popup {
  width: 960px;
  margin: 0 auto;
  padding: 80px 100px;
}

.form-popup .form-popup-list {
  display: flex;
  flex-wrap: wrap;
}

.form-popup-data {
  width: 50%;
}

.form-popup-text .form-popup-label {
  display: block;
  width: 100%;
}

.form-popup .form-popup-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.form-popup .form-popup-input {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;

  background-color: #F3F3F3;
  border: none;
}

/* catalog.html */

/* inner header */

.inner-header .inner-nav {
  display: flex;
}

.inner-header .inner-nav-link {
  margin-right: 20px;

  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
}

.inner-header .inner-nav-link:hover,
.inner-header .inner-nav-link:focus {
  color: rgba(0, 0, 0, .6);
}

.inner-header .inner-nav-link:active {
  color: rgba(0, 0, 0, .1);
}

/* products */

.catalog .container {
  display: flex;
}

.catalog .catalog-filter {
  width: 330px;
  padding-left: 60px;
}

.filter fieldset {
  border: none;
}

.filter .filter-legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.filter .price-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}

.filter .color-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 39px;
  font-weight: bold;
  color: #000000;
}

.filter .bluetooth-label {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: lighter;
}

.catalog .catalog-items {
  width: 830px;
}

.catalog .catalog-text {
  margin-right: 55px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

.catalog-items .catalog-sorting-wrapper {
  display: flex;
  align-items: center;
}

.catalog-items .sorting-list {
  display: flex;
}

.catalog-items .sorting-item {
  margin-right: 30px;
}

.catalog-items .directions-wrapper {
  margin-left: auto;
}

.catalog-items .sorting-link {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

.catalog-items .sorting-link:hover,
.catalog-items .sorting-link:focus {
  color: rgba(0, 0, 0, .6);
}

.catalog-items .sorting-link:active,
.sorting-link.active {
  color: #000000;
}

.sorting-link.active:hover {
  color: #000000;
}

.catalog .catalog-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px;
  padding-right: 0;
}

.catalog .catalog-item {
  width: 360px;
}

.catalog-items.item-descr-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-items .catalog-description {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.catalog-items .catalog-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #464646;
}

.catalog-pages-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.catalog-nav-btn.forward {
  order: 1;
}

.catalog-pages-nav .pages-nav {
  display: flex;
}

.pages-nav .pages-item {
  margin-right: 30px;
}

.catalog-pages-nav .catalog-nav-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;

  border: none;
  background: none;
}

.catalog-pages-nav .catalog-nav-btn:hover,
.catalog-pages-nav .catalog-nav-btn:focus {
  background-color: #D8D8D8;
}

.catalog-pages-nav .catalog-nav-btn:active {
  color: rgba(0, 0, 0, .3);
}

.catalog-pages-nav .catalog-page-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

.catalog-page-link.active {
  color: #000000;
}
